.weather__app {
  margin: 2em;
}

.weather__app__details--emphasis {
  font-style: italic;
}

.weather__app__list {
  list-style-type: square;
}

.weather__app__list li {
  margin: .5em;
}

.weather__app__icon {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0;
}

.weather__app__button {
  padding: 0.5em;
  cursor: pointer;
  border: none;
}

.weather__app__button--active {
  background-color: black;
  color: white;
  border: 2px solid black;
}